<h1>Chat Socket.io</h1>

    <div class="inputContainer">
        <label for="email">Email</label>
        <input type="email" id="emailBox">
        <label for="message">Message</label>
        <input type="text" id="chatBox">
        <button id="botonChat">Enviar</button>
    </div>

    <div class="messagesContainer">
        <p id="parrafosMensajes"></p>
    </div>